/*** 
lOS ESTILOS EXTRAS IRÁN AQUÍ ABAJO
**/
html {
    min-height: 100%;
    position: relative;
}
body {
    font-family: 'DM Sans',sans-serif;
}

main {
    flex: 1;
}
header {
    width: 100%;
    background-color: #fff4ec;
}
footer { 
    justify-content: center;
    display: flex;
    background-color: #fdf0f7;

} 

picture img{
    max-height: 430px;
}
.resaltado {
    background-color: #ff67b3;
    opacity: 0.7;
}

.logo {
    height: 3.75rem;
    width: 9rem !important
}
.card {
    border: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}