<div class="container">
    <div class="row m-5">
        <div class="col-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1674.5083637650584!2d-76.48103850559815!3d3.429181931010652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a713467d05fd%3A0xaab872a9d5b96f37!2sCl.%2087%20%2326i-19%2C%20Marroquin%20II%2C%20Cali%2C%20Valle%20del%20Cauca!5e0!3m2!1ses!2sco!4v1731377718299!5m2!1ses!2sco" width="600" height="480" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
        <div class="col">
            <div class="d-flex flex-column">
                <h1>Contacto</h1>
                <div>Prueba</div>
                <div>Prueba</div>
                <div>Prueba</div>
                <div>Prueba</div>
            </div>
        </div>
    </div>
</div>