<div class="container">
    <div class="d-block m-5">
        <p class="texto-coloreado display-5"><strong>Sobre la empresa</strong></p>
        <h3 class="mb-3">El inicio de todo</h3>
        <p>Nuestra empresa Cartel Color  nace de la necesidad de experimentar con la creatividad, cosa que nos brindaba el mundo de papelería. Surge en el año 2024 luego de haber sufrido una recaída económica que nos impidió seguir con nuestros estudios universitarios.</p>
        <p>Actualmente nuestra empresa cuenta con 20 colaboradoras madres cabeza de hogar, que laboran desde la comodidad de casa. La dinámica de la empresa es que ellas reciben los materiales y se dedican a crear hermosas piezas decorativas en resina, y otros materiales de arte.</p>
        <p>Nuestra empresa esta constituida por mi socia Laura Gonzales y yo; Nicole Kinmar.</p>
        <p>Gracias a este emprendimiento más allá de poder seguir con nuestros estudios universitarios, nos ayudo a apostar por el sentido social y ayudar a madres cabeza de hogar que difícilmente (en la situación de nuestro país) encuentran trabajos accesibles a sus horarios.</p>
        <h3 class="mb-3">Descripción de la empresa</h3>
        <p>Somos una empresa especializada en la venta de productos de papelería de alta calidad, perfecta para estudiantes, oficinas y cualquier persona que busque materiales confiables. Además, ofrecemos un servicio personalizado de creación de carteleras y maquetas para proyectos escolares, empresariales y eventos especiales, garantizando creatividad y profesionalismo en cada entrega.</p>
        <p>También nos dedicamos a la elaboración de detalles de amor y regalos personalizados para fechas especiales, donde cada detalle es pensado para generar un impacto emocional en nuestros clientes. Nuestro enfoque está en brindar productos que combinen originalidad y funcionalidad, siempre cuidando cada etapa del proceso desde el diseño hasta la entrega.</p>
        <div class="centrado mt-5 canva-video-container centrado">
            <iframe class="canva-video" loading="lazy" src="https://www.canva.com/design/DAGWVIuq_0c/xR-MSfmN_bRh_KgVqG6ikQ/watch?embed" 
            allowfullscreen="allowfullscreen" allow="fullscreen">
            </iframe>
        </div>
        
    </div>
</div>  