<div class="container">
    <div class="d-block m-5">
        <h1 class="texto-coloreado">SOBRE NOSOTRAS</h1>
        <p>A continuación nos vamos a describir un poco para que puedan conocernos mejor: </p>
        <div class="d-flex flex-inline align-items-center">
            <img src="static/images/Otras_imagenes/Sofia.jpeg" alt="" width="640" height="480">
            <div class="d-flex flex-column ms-3">
                <h2 class="mb-3">DATOS PERSONALES</h2>
                <p><strong>Nombre Completo: </strong>Laura Sofia Gonzalez Muñoz</p>
                <p><strong>Edad: </strong>16</p>
                <p><strong>Identificación: </strong>T.I: 1108117774</p>
                <p><strong>Ocupación: </strong>Estudiante</p>
                <p><strong>Colegio: </strong>Institucion Educativa Nuevo Latir</p>
                <p><strong>Grado: </strong>11</p>
                <p><strong>Hobbie favorito: </strong>Leer, escuchar música, Journaling</p>
                <p><strong>Materia favorita del colegio: </strong>Química y lenguaje</p>
                <h2 class="mt-3">ASPIRACIÓN PROFESIONAL</h2>
                <p><strong>Carrera universitaria: </strong>Ingenieria química</p>
                <p><strong>Institución: </strong>Universidad del Valle</p>
                <p><strong>Cargo: </strong>Ingeniero de Procesos</p>
                <p><strong>Empresa: </strong>Ecopetrol</p>

            </div>
        </div>
        <div class="d-flex flex-inline align-items-center">
            <img src="static/images/Otras_imagenes/Nicole.jpeg" alt="">
            <div class="d-flex flex-column ms-3">
                <h2>DATOS PERSONALES</h2>

            </div>
        </div>
    </div>

</div>
 

Nombre: Nicole Kinmar Sinisterra Arizabaleta 
Edad: 18
Identificacion: 4728298474
Ocupacion: Estudiante
Colegio: Institucion Educativa Nuevo Latir 
Grado: 11
Hobbie favorito: Ver documentales
Materia favorita del colegio: Sociales 

ASPIRACION PROFESIONAL
Carrera universitaria: Derecho
Institucion: Universidad Santiago de Cali
Cargo: Abogada de familia 
Empresa: Abogados S.A.S