<div class="container aparecer-desde-centro">
    <div class="d-block m-5">
        <h1 class="texto-coloreado">SOBRE NOSOTRAS</h1>
        <p>A continuación nos vamos a describir un poco para que puedan conocernos mejor: </p>
        <div class="d-flex flex-inline align-items-center mb-5">
            <img class="img-fluid rounded" src="static/images/Otras_imagenes/Sofia.jpeg" alt="" style="width: 40vw; height: 30vw;">
            <div class="d-flex flex-column ms-5">
                <h2 class="mb-3">DATOS PERSONALES</h2>
                <p><strong>Nombre Completo: </strong>Laura Sofia Gonzalez Muñoz</p>
                <p><strong>Edad: </strong>16</p>
                <p><strong>Identificación: </strong>T.I: 1108117774</p>
                <p><strong>Ocupación: </strong>Estudiante</p>
                <p><strong>Colegio: </strong>Institucion Educativa Nuevo Latir</p>
                <p><strong>Grado: </strong>11</p>
                <p><strong>Hobbie favorito: </strong>Leer, escuchar música, Journaling</p>
                <p><strong>Materia favorita del colegio: </strong>Química y lenguaje</p>
                <h2 class="mt-3">ASPIRACIÓN PROFESIONAL</h2>
                <p><strong>Carrera universitaria: </strong>Ingenieria química</p>
                <p><strong>Institución: </strong>Universidad del Valle</p>
                <p><strong>Cargo: </strong>Ingeniero de Procesos</p>
                <p><strong>Empresa: </strong>Ecopetrol</p>

            </div>
        </div>
        <div class="d-flex flex-inline align-items-center">
            <img class="img-fluid rounded" src="static/images/Otras_imagenes/Nicole.jpeg" alt="" style="width: 40vw; height: 30vw;">
            <div class="d-flex flex-column ms-5">
                <h2 class="mb-3">DATOS PERSONALES</h2>
                <p><strong>Nombre Completo: </strong>Nicole Kinmar Sinisterra Arizabaleta</p>
                <p><strong>Edad: </strong>18</p>
                <p><strong>Identificación: </strong>T.I: 4728298474</p>
                <p><strong>Ocupación: </strong>Estudiante</p>
                <p><strong>Colegio: </strong>Institucion Educativa Nuevo Latir</p>
                <p><strong>Grado: </strong>11</p>
                <p><strong>Hobbie favorito: </strong>Ver documentales</p>
                <p><strong>Materia favorita del colegio: </strong>Sociales</p>
                <h2 class="mt-3">ASPIRACIÓN PROFESIONAL</h2>
                <p><strong>Carrera universitaria: </strong>Derecho</p>
                <p><strong>Institución: </strong>Universidad Santiago de Cali</p>
                <p><strong>Cargo: </strong>Abogada de familia</p>
                <p><strong>Empresa: </strong>Abogados S.A.S</p>
            </div>
        </div>
        <div class="centrado">
            <iframe class="canva-video mt-3" loading="lazy" src="https://www.canva.com/design/DAGWOOecT6I/QLEZnIGdEGFRD_awaWN3ig/watch?embed" 
            allowfullscreen="allowfullscreen" allow="fullscreen">
            </iframe>
        </div>
    </div>
</div>
 