<div class="container aparecer-desde-centro">
    <div class="d-block m-5">
        <h1 class="centrado"><strong>Términos y Condiciones</strong></h1>
        <div class="d-flex flex-column">
            <strong>1. Aceptación de Términos</strong>
            <br>
            <p>Al acceder y utilizar los servicios y productos ofrecidos por Papelería "Cartel Color", usted acepta cumplir con los términos y condiciones aquí establecidos. Si no está de acuerdo con estos términos, le solicitamos que no utilice nuestros servicios.
            </p>
    
            <strong>2. Productos y Servicios</strong>
            <br>
            <p>Papelería "Cartel Color" se compromete a ofrecer productos y servicios de alta calidad. La descripción de los productos, así como los precios, están sujetos a cambios sin previo aviso. Nos reservamos el derecho de modificar o descontinuar cualquier producto o servicio en cualquier momento.
            </p>
    
            <strong>3. Precios y Pagos</strong>
            <br>
            <p>Los precios de los productos y servicios se indican en pesos colombianos (COP) y son válidos al momento de la compra. Todos los pagos deben realizarse al momento de la transacción. Aceptamos diferentes métodos de pago, incluyendo tarjetas de crédito y débito, y transferencias bancarias.
            </p>
            
            <strong>4. Política de Devoluciones y Reembolsos</strong>
            <br>
            <p>Aceptamos devoluciones de productos dentro de los 10 días hábiles posteriores a la compra, siempre y cuando el producto esté en su estado original y con el embalaje intacto. Los productos defectuosos pueden ser cambiados o reembolsados, siempre que se notifique dentro de los 7 días posteriores a la recepción. Los costos de envío para devoluciones son responsabilidad del cliente, a menos que se trate de un error de nuestra parte.
            </p>
            
            <strong>5. Envíos</strong>
            <br>
            <p>Los tiempos de envío varían según la ubicación y la disponibilidad del producto. Papelería "Cartel Color" no se hace responsable por retrasos en la entrega causados por terceros, como servicios de mensajería o problemas aduaneros. Los costos de envío se calcularán al momento de la compra y serán añadidos al total de su pedido.
            </p>
            
            <strong>6. Uso de la Información Personal</strong>
            <br>
            <p>Toda la información personal proporcionada será utilizada de acuerdo con nuestra política de privacidad. Nos comprometemos a proteger la confidencialidad de su información y a utilizarla únicamente para procesar pedidos y mejorar nuestros servicios.
            </p>
            
            <strong>7. Propiedad Intelectual</strong>
            <br>
            <p>Todos los contenidos, marcas, logotipos y diseños utilizados en Papelería "Cartel Color" son propiedad exclusiva de la empresa. Está prohibido reproducir, distribuir o utilizar cualquier material sin el consentimiento expreso por escrito de la empresa.
            </p>
            
            <strong>8. Responsabilidad</strong>
            <br>
            <p>Papelería "Cartel Color" no será responsable por daños indirectos, incidentales o consecuentes que puedan resultar del uso o la imposibilidad de uso de nuestros productos o servicios. La responsabilidad de la empresa se limita al valor del producto adquirido.
            </p>
            
            <strong>9. Modificaciones</strong>
            <br>
            <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones serán efectivas desde el momento en que se publiquen en nuestro sitio web. Se recomienda revisar periódicamente los términos para estar al tanto de cualquier cambio.
            </p>
            
            <strong>10. Contacto</strong>
            <br>
            <p>Para cualquier consulta o duda relacionada con estos términos y condiciones, puede ponerse en contacto con nosotros a través de nuestro correo electrónico: contacto@cartelcolor.com o llamarnos al +57 1 234 5678.</p>
            
        </div>
    </div>
</div>